<!DOCTYPE html>
<html>
<head>
    <title>Search Stock</title>
    <!-- Add your CSS styles here -->
</head>
<body>
    <!-- Navigation Bar -->
    <!-- ... -->

    <!-- Stock Search Form -->
    <form action="{{ url_for('search_stock') }}" method="post">
        <label for="query">Stock Symbol:</label>
        <input type="text" id="query" name="query" required>
        <input type="submit" value="Search">
    </form>

    <!-- Display Search Results -->

<!-- Display Search Results -->
    {% if stock_info %}
        <div>
            <h2>Stock Information for {{ stock_info.get('symbol', 'Unknown') }}</h2>
            <p>Name: {{ stock_info.get('longName', 'Not Available') }}</p>
            <p>Price: {{ stock_info.get('currentPrice', 'Not Available') }}</p>
            <p>Sector: {{ stock_info.get('sector', 'Not Available') }}</p>
            <p>Market Cap: {{ stock_info.get('marketCap', 'Not Available') }}</p>
            <p>Dividend Yield: {{ stock_info.get('dividendYield', 'Not Available') }}</p>
            <p>Average Volume: {{ stock_info.get('averageVolume', 'Not Available') }}</p>
            <p>52 Week High: {{ stock_info.get('fiftyTwoWeekHigh', 'Not Available') }}</p>
            <p>52 Week Low: {{ stock_info.get('fiftyTwoWeekLow', 'Not Available') }}</p>
            <!-- More stock details -->
        </div>
    {% endif %}



    <!-- Additional content -->
</body>
</html>
